extends partial/layout

//- 新增标签云
mixin tags_cloud()
    .tag-cloud
        //- 在标签页隐藏标签云
        - var url = url_for(page.path)
        if url == '/archives/index.html'
            h2 Tags
            .tag-cloud-content
                != tagcloud({min_font: 16, max_font: 16, amount: 30, color: false, start_color: '#42b983', end_color: '#42b983'})


block container
    include mixins/post
    +tags_cloud()
    +postList()


block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright